* {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);

  --main-bg: hsl(217, 54%, 11%); /*(main BG)*/
  --card-bg: hsl(216, 50%, 16%); /* (card BG)*/
  --line: hsl(215, 32%, 27%); /* (line)*/
  --White: hsl(0, 0%, 100%);
}

html {
  background-color: var(--main-bg);
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-family: "outfit";
}

.main-card {
  background-color: var(--card-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  width: 288px;
  padding: 30px 30px 5px 30px;
  height: 600px;
  background-color: var(--card-bg);
  border-radius: 20px;
}

.main-card .card-head {
  height: 50%;
  border-radius: 20px;
  position: relative;
}

.main-card .card-head .layer {
  content: "";
  position: absolute;
  left: 0;
  background-color: var(--Cyan);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0;
}

.main-card .card-head .layer img {
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 1;
  left: 40%;
  top: 40%;
}

.main-card .card-head .layer:hover {
  cursor: pointer;
  opacity: 50%;
}

.main-card .card-head img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.main-card .card-body .container .infos {
  margin: 30px 0;
}

.main-card .card-body .infos .title a {
  color: var(--White);
  font-weight: 600;
  margin-bottom: 30px;
  color: white;
  text-decoration: none;
}

.main-card .card-body .infos .title a:hover {
  color: var(--Cyan);
}

.main-card .card-body .container .infos .description {
  color: var(--Soft-blue);
  font-size: 16px;
  margin: 10px 0 10px 0;
}

.main-card .card-body .container .currency {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 20px 0;
}

.main-card .card-body .container .currency .price {
  color: var(--Cyan);
}

.main-card .card-body .container .currency .time {
  color: var(--Soft-blue);
}

.main-card .container .footer hr {
  border: solid 0.5px var(--line);
}

.main-card .container .author {
  display: flex;
  align-items: center;
}

.main-card .container .author img {
  height: 50px;
  border: solid white;
  border-radius: 50%;
  margin: 5px;
}

.main-card .container .author .info {
  margin: 10px;
  color: var(--Soft-blue);
}

.main-card .container .author .info a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.main-card .container .author .info a:hover {
  color: var(--Cyan);
  cursor: pointer;
}
